<div *ngIf="canCreateCategory" class="create-category">
  <h3>Créer une nouvelle catégorie</h3>
  <div class="form-group">
    <input [(ngModel)]="newCategory.name" placeholder="Nom de la catégorie" />
    <select [(ngModel)]="newCategory.parentId">
      <option [ngValue]="null">Pas de parent</option>
      <option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.name }}
      </option>
    </select>
    <button (click)="createCategory()">Créer la catégorie</button>
  </div>
</div>

<div *ngIf="canCreateCategory" class="assign-role">
  <h3>Attribuer un rôle</h3>
  <div class="form-group">
    <select #userInput>
      <option *ngFor="let user of users" [value]="user.email">
        {{ user.email }}
      </option>
    </select>
    <select #roleInput>
      <option value="USER">USER</option>
      <option value="ADMIN">ADMIN</option>
      <option value="CONTRIBUTOR">CONTRIBUTOR</option>
    </select>
    <button (click)="assignRole(userInput.value, roleInput.value)">
      Attribuer le rôle
    </button>
  </div>
</div>
<div class="horizontal-line"></div>

<div class="file-container">
  @if (!file) {
  <input type="file" (change)="getFile($event)" class="file" />
  <i class="fa fa-upload" aria-hidden="true"></i>
  @if (fileError) {
  <div class="error-message">{{ fileError }}</div>
  } } @if (file) {
  <div>
    File name: {{ file?.name }}
    <br />
    <button (click)="file = undefined">clear file</button>
  </div>
  }
</div>

<div class="file-zone">
  <div class="question-type" *ngIf="canChooseQuestionType">
    <label>
      <input
        class="checkbox"
        type="checkbox"
        [(ngModel)]="newData.isPersonal"
        name="isPersonal"
        [checked]="true"
      />
      Question personnelle
    </label>
  </div>
  <select class="choice-category" [(ngModel)]="selectedCategory">
    @for (category of categories; track category.id) {
    <option [value]="category.id">{{ category.name }}</option>
    }
  </select>
</div>

<div class="button">
  <button (click)="uploadFile()" class="button-upload">
    Envoyer
    <svg class="button-upload-icon" viewBox="0 0 24 24" fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75
        -9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06
        1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
</div>

<div class="horizontal-line"></div>

<div class="createDatas">
  <div class="createQuestion">
    <div>Question :</div>
    <textarea
      (input)="onInputChange($event)"
      [(ngModel)]="newData.question"
      placeholder="Insérez votre question.."
    ></textarea>
  </div>
  <div class="nbOfAnswers">
    <div>Nombre de réponses :</div>
    <input
      type="number"
      [(ngModel)]="nbAnswers"
      (input)="updateNbInputs()"
      placeholder="4"
    />
  </div>
  <div class="createAnswers">
    <div class="Answer" *ngFor="let input of inputs; let i = index">
      <textarea
        (input)="onInputChange($event)"
        [(ngModel)]="newData.answers[i]"
        placeholder="Réponse {{ i + 1 }}"
      ></textarea>
      <input type="checkbox" [(ngModel)]="newData.correct[i]" />
    </div>
  </div>
</div>
<br />

<div class="file-zone">
  <div class="question-type" *ngIf="canChooseQuestionType">
    <label>
      <input
        class="checkbox"
        type="checkbox"
        [(ngModel)]="newData.isPersonal"
        name="isPersonal"
        [checked]="true"
      />
      Question personnelle
    </label>
  </div>
  <select class="choice-category" [(ngModel)]="selectedCategory">
    @for (category of categories; track category.id) {
    <option [value]="category.id">{{ category.name }}</option>
    }
  </select>
</div>

<div class="button">
  <button (click)="uploadQuestionAnswers()" class="button-upload">
    Envoyer
    <svg class="button-upload-icon" viewBox="0 0 24 24" fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75
        -9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06
        1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
</div>

<br /><br /><br /><br /><br />
