<div class="category-form">
  <h3>Create New Category</h3>
  <input
    type="text"
    [(ngModel)]="newCategory.name"
    placeholder="Category name"
  />
  <select [(ngModel)]="newCategory.parentId">
    <option [value]="null">No parent (Root category)</option>
    @for (category of categories; track category.id) {
    <option [value]="category.id">{{ category.name }}</option>
    }
  </select>
  <button (click)="createCategory()">Create Category</button>
</div>

<div class="file-container">
  @if (!file) {
  <input type="file" (change)="getFile($event)" class="file" />
  @if (fileError) {
  <div class="error-message">{{ fileError }}</div>
  }
  <select [(ngModel)]="selectedCategory">
    @for (category of categories; track category.id) {
    <option [value]="category.id">{{ category.name }}</option>
    }
  </select>
  } @if (file) {
  <div>
    File name: {{ file?.name }}
    <br />
    <button (click)="file = undefined">clear file</button>
  </div>
  }
</div>

<button (click)="uploadFile()">upload file</button>
