<div class="page-container">
  <div class="concept">
    <p>Cette application web vous permet de créer des QCM à partir d'une base de questions.</p>
  </div>
  <div class="utilisation">
    <p>La page "Accueil" (cette page) vous permet de comprendre comment utiliser RapidQuizer.</p>
    <p>La page "Exercices" vous permet de sélectionner les questions que vous voulez générer dans votre QCM.</p>
    <p>La page "Ajout" vous permet de créer des catégories, d'importer vos questions en format LaTeX ou de les créer directement via l'application.</p>
    <p>Le panier vous permet de voir toutes les questions que vous avez sélectionner et de générer le fichier LaTeX AMC.</p>
  </div>
  <div class="rules">
    <div>Règles/Consignes</div>
    <ul>
      <li>Il faut être connecté pour pouvoir ajouter des questions à sa base de données personnelles.</li>
      <li>Il faut être contributeur pour pouvoir ajouter des questions à la base de données globale.</li>
      <li>Les fichiers LaTeX que vous importez doivent contenir qu'une seule question.</li>
      <li>Lors de l'ajout d'une question (import ou directement via l'application), vous devez précisez la catégorie à laquelle la question appartient.</li>
      <li>Lors de la création d'une catégorie, vous pouvez sélectionner son parent ("Pas de parent" fera de votre catégorie une nouvelle racine).</li>
    </ul>
  </div>
</div>
