<div class="page-container">
  <div class="logo-img"></div>
  <div class="concept-container">
    <p class="sentence"><b>Cette application web vous permet de créer des QCM à partir d'une base de questions.</b></p>
  </div>
  <div class="continue">
    <p>En savoir plus..</p>
    <a (click)="scrollToUtilisation()">
      <i class="fa fa-angle-down"></i>
    </a>
  </div>
  <div class="content">
    <div id="utilisation" class="utilisation">
      <div class="home">
        <i class="fas fa-home me-1"></i>
        <p><b>La page "Accueil" (cette page) vous permet de comprendre comment utiliser RapidQuizer.</b></p>
      </div>
      <div class="exercice">
        <i class="fas fa-book me-1"></i>
        <p><b>La page "Exercices" vous permet de sélectionner les questions que vous voulez générer dans votre QCM.</b></p>
      </div>
      <div class="add">
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
        <p><b>La page "Ajout" vous permet d'importer vos questions en format LaTeX ou de les créer directement
          via l'application (vous devez être connecté pour accéder à cette page).</b></p>
      </div>
      <div class="shopping-basket">
        <i class="fa fa-shopping-cart"></i>
        <p><b>Le panier vous permet de voir toutes les questions que vous avez sélectionner et de générer le fichier LaTeX AMC.</b></p>
      </div>
    </div>
    <div class="rules-container">
      <h2>Règles/Consignes</h2>
      <ul>
        <li>Il faut être connecté pour pouvoir ajouter des questions à sa base de données personnelles.</li>
        <li>Il faut être contributeur pour pouvoir ajouter des questions à la base de données globale.</li>
        <li>Les fichiers LaTeX que vous importez doivent contenir qu'une seule question.</li>
        <li>Lors de l'ajout d'une question (import ou directement via l'application), vous devez précisez la catégorie à laquelle la question appartient.</li>
      </ul>
    </div>
  </div>

  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
