<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-graduation-cap me-2"></i>RapidQuizer
    </a>
    <div class="navbar-nav">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fas fa-home me-1"></i>Accueil
      </a>
      <a class="nav-link" routerLink="/questions" routerLinkActive="active">
        <i class="fas fa-book me-1"></i>Exercices
      </a>
    </div>
  </div>
</nav>
